.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 15%;
    margin-top: 1%;
}
.controls .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.controls .top div {
    width: 50px;
    height: 50px;
    background: #161618;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}
.controls .top div:active {
    background: #1e1e20;
}
.controls .top div img {
    width: 40px;
}
.controls .mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.controls .mid div {
    width: 50px;
    height: 50px;
    background: #161618;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}
.controls .mid div:active {
    background: #1e1e20;
}
.controls .mid div img {
    width: 40px;
}
.controls .bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.controls .bot div {
    width: 50px;
    height: 50px;
    background: #161618;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}
.controls .bot div:active {
    background: #1e1e20;
}
.controls .bot div img {
    width: 40px;
}
